.left-margin-2-per {
    margin-left: 10px;
}

.left-margin-20 {
    margin-left: 20px;
}

.second-row-input-field {
    margin-top: 1%;
}

.left-margin-2-per {
    margin-left: 1%;
}

.col-md-20 {
    width: 22%;
}

